# === Eclipse files ===
.settings/
.classpath
.project

# === Maven build directory ===
target/

# === OS-specific files ===
.DS_Store
Thumbs.db

# === Editor settings ===
.vscode/

# === Logs and temp files ===
*.log
*.tmp
*.bak
*~

# Eclipse workspace metadata
.metadata/

zipfiles

# ignoring new folders
learning-sbms-01-natraj
learning-sbms-03-ashok
learning-sbms-04-raghu
learning-sbms-05-narsi